<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Listen to an exquisite music selection from Reddit's most cultured communities." />
    <meta name="keywords" content="radio, reddit, music" />
    <meta name="author" content="Yavor Fingarov" />
    <meta name="theme-color" content="#a92e00">
    <title>@(ViewData["Station"] != null ? $"{ViewData["Station"]} @ reddio" : "reddio")</title>
    <link rel="stylesheet" href="~/styles.css" />
    <link rel="manifest" href="~/manifest.json" />
    <link rel="icon" type="image/png" href="~/icon32.png" />
</head>
<body>
    <header>
        <div id="logo">
            <a asp-page="/Index">reddio</a>
        </div>
        @if (ViewData["Station"] != null)
        {
            <div id="station">@ViewData["Station"]</div>
        }
    </header>
    <main id="main-container">
        <details>
            <summary>Currently, only archived tracks are being played on shuffle</summary>
            <p>
                In light of <a href="https://www.eff.org/deeplinks/2023/06/what-reddit-got-wrong">current events</a>, 
                the integration with Reddit has been removed.
            </p>
        </details>
        @RenderBody()
    </main>
    <script>
        document.getElementById("main-container").style.display = "inherit";
    </script>
    <noscript>
        You need to enable JavaScript to use this app.
    </noscript>
    <footer>
        <div>
            <a asp-page="/About">About</a> /
            <a asp-page="/Privacy">Privacy</a> /
            <a asp-page="/License">License</a> /
            <a href="https://github.com/yavorfingarov/Reddio">GitHub</a>
        </div>
        <div id="build">Build: @Build.Number</div>
    </footer>
</body>
</html>
