@page

<h1>Privacy</h1>
<p>
    Reddio does not collect or share any personal information.
</p>
<p>
    To play music, the external streaming providers might need to set third-party cookies.
    Visit <a href="https://www.internetcookies.com/">www.internetcookies.com</a> to learn more about what cookies are and how to manage them. 
</p>
<p>
    You might also want to check the third-party privacy and cookie policies:
</p>
<ul>
    <li>
        <a href="https://policies.google.com/privacy">YouTube</a>
    </li>
    <li>
        <a href="https://vimeo.com/privacy">Vimeo</a>
    </li>
    <li>
        <a href="https://soundcloud.com/pages/privacy">SoundCloud</a>
    </li>
    <li>
        <a href="https://www.mixcloud.com/privacy">MixCloud</a>
    </li>
</ul>
